extends layout

block content
  section.wrapper.side-by-side
    section=title_left
      form(action="", method="get")
        button.app-button(type="submit")
          span Run Application
    section=title_right
      form(action="", method="get")
        button.app-button(type="submit")
          span Run Application



