doctype html
html
  head
    title Performance Application
    link(rel='stylesheet', href='/stylesheets/main-styles.css')
    link(rel='stylesheet', href='/stylesheets/class-styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    header Performance Application
    block content
    footer Łukasz Karmański
