doctype html
html
  head
    title Performance Application
    link(rel='stylesheet', href='/stylesheets/main-styles.css')
    link(rel='stylesheet', href='/stylesheets/class-styles.css')
  body
    header Performance Application
    block content
    footer Łukasz Karmański
